#canvas
{
	height:auto;
	width:auto;
}

#button1
{
	height:100px;
	width:400px;
	border:solid
}

#button2
{
	height:100px;
	width:400px;
	border:solid
}

#button3
{
	height:100px;
	width:400px;
	border:solid
}
